flows.json
[
    {
        "id": "9dd99502.e077e8",
        "type": "tab",
        "label": "DEMO",
        "disabled": false,
        "info": "Simple DEMO application."
    },
    {
        "id": "f273f10b.5a0d5",
        "type": "subflow",
        "name": "Filter State Changes",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 560,
                "y": 60,
                "wires": [
                    {
                        "id": "2c36748a.80049c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ENTITY_ID",
                "type": "str",
                "value": "light.entry_light",
                "ui": {
                    "label": {
                        "en-US": "Entity ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "PROPERTY",
                "type": "str",
                "value": "state",
                "ui": {
                    "label": {
                        "en-US": "Property"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "State"
                                },
                                "v": "state"
                            },
                            {
                                "l": {
                                    "en-US": "Attribute"
                                },
                                "v": "attribute"
                            }
                        ]
                    }
                }
            },
            {
                "name": "ATTRIBUTE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Attribute"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "FROM_VALUE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "From Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "FROM_COMPARATOR",
                "type": "str",
                "value": "E",
                "ui": {
                    "label": {
                        "en-US": "From Comparator"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "<"
                                },
                                "v": "LT"
                            },
                            {
                                "l": {
                                    "en-US": "<="
                                },
                                "v": "LTE"
                            },
                            {
                                "l": {
                                    "en-US": "=="
                                },
                                "v": "E"
                            },
                            {
                                "l": {
                                    "en-US": "!="
                                },
                                "v": "NE"
                            },
                            {
                                "l": {
                                    "en-US": ">="
                                },
                                "v": "GTE"
                            },
                            {
                                "l": {
                                    "en-US": ">"
                                },
                                "v": "GT"
                            }
                        ]
                    }
                }
            },
            {
                "name": "TO_VALUE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "To Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TO_COMPARATOR",
                "type": "str",
                "value": "E",
                "ui": {
                    "label": {
                        "en-US": "To Comparator"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "<"
                                },
                                "v": "LT"
                            },
                            {
                                "l": {
                                    "en-US": "<="
                                },
                                "v": "LTE"
                            },
                            {
                                "l": {
                                    "en-US": "=="
                                },
                                "v": "E"
                            },
                            {
                                "l": {
                                    "en-US": "!="
                                },
                                "v": "NE"
                            },
                            {
                                "l": {
                                    "en-US": ">="
                                },
                                "v": "GTE"
                            },
                            {
                                "l": {
                                    "en-US": ">"
                                },
                                "v": "GT"
                            }
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "5dd2920a.4fb334",
        "type": "subflow",
        "name": "On State Change",
        "info": "Watches for all state changes",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 560,
                "y": 40,
                "wires": [
                    {
                        "id": "3faf5ddd.0de422",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "44132dad.e34f2c",
        "type": "subflow",
        "name": "On Entity State Change",
        "info": "Filters out any state changes not related to the specified entity.",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 440,
                "y": 20,
                "wires": [
                    {
                        "id": "f47a8c8b.b8689",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ENTITY_ID",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "2f0bc039.a84f5",
        "type": "subflow",
        "name": "State Trigger",
        "info": "Returns only if the conditions are met.",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 500,
                "y": 140,
                "wires": [
                    {
                        "id": "2f6b1a6e.bd9cce",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ENTITY_ID",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "PROPERTY",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Property"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "State"
                                },
                                "v": "state"
                            },
                            {
                                "l": {
                                    "en-US": "Attribute"
                                },
                                "v": "attribute"
                            }
                        ]
                    }
                }
            },
            {
                "name": "ATTRIBUTE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Attribute"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "FROM_VALUE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "From"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "FROM_COMPARE",
                "type": "str",
                "value": "E",
                "ui": {
                    "label": {
                        "en-US": "Compare"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "<"
                                },
                                "v": "LT"
                            },
                            {
                                "l": {
                                    "en-US": "<="
                                },
                                "v": "LTE"
                            },
                            {
                                "l": {
                                    "en-US": "=="
                                },
                                "v": "E"
                            },
                            {
                                "l": {
                                    "en-US": "!="
                                },
                                "v": "NE"
                            },
                            {
                                "l": {
                                    "en-US": ">="
                                },
                                "v": "GTE"
                            },
                            {
                                "l": {
                                    "en-US": ">"
                                },
                                "v": "GT"
                            }
                        ]
                    }
                }
            },
            {
                "name": "TO_VALUE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "To"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "TO_COMPARE",
                "type": "str",
                "value": "E",
                "ui": {
                    "label": {
                        "en-US": "Compare"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "<"
                                },
                                "v": "LT"
                            },
                            {
                                "l": {
                                    "en-US": "<="
                                },
                                "v": "LTE"
                            },
                            {
                                "l": {
                                    "en-US": "=="
                                },
                                "v": "E"
                            },
                            {
                                "l": {
                                    "en-US": "!="
                                },
                                "v": "NE"
                            },
                            {
                                "l": {
                                    "en-US": ">="
                                },
                                "v": "GTE"
                            },
                            {
                                "l": {
                                    "en-US": ">"
                                },
                                "v": "GT"
                            }
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "80563eac.637d5",
        "type": "subflow",
        "name": "Call Service",
        "info": "Invokes a service",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 20,
                "wires": [
                    {
                        "id": "727d4857.949e78"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "DOMAIN",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Domain"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "SERVICE",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Service"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "SERVICE_DATA",
                "type": "json",
                "value": "{}",
                "ui": {
                    "label": {
                        "en-US": "Service Data"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "ed9398c7.6fb69",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker",
        "broker": "10.0.11.140",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "240",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7d9ea723.79632",
        "type": "function",
        "z": "f273f10b.5a0d5",
        "name": "Check From Condition",
        "func": "var fromValue = eng.get('FROM_VALUE\"')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2c36748a.80049c",
        "type": "function",
        "z": "f273f10b.5a0d5",
        "name": "Get Property Value",
        "func": "if (env.get(\"PROPERTY\") === \"state\") {\n    msg.old_value = msg.old_state.state;\n    msg.new_value = msg.new_state.state;\n} else {\n    Object.assign(\n        msg,\n        env.get(\"ATTRIBUE\")\n            .split(\".\")\n            .reduce((acc, val) => {\n                acc.old_value = acc.old_value[val];\n                acc.new_value = acc.new_value[val];\n            }, {\n                \"old_value\": msg.old_state.attributes,\n                \"new_value\": msg.new_state.attributes\n            })\n    );\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3faf5ddd.0de422",
        "type": "change",
        "z": "5dd2920a.4fb334",
        "name": "Set Message Properties",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "payload.data.entity_id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "old_state",
                "pt": "msg",
                "to": "payload.data.old_state",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "new_state",
                "pt": "msg",
                "to": "payload.data.new_state",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4c493b69.585df4",
        "type": "mqtt in",
        "z": "5dd2920a.4fb334",
        "name": "Subscribe to State Change",
        "topic": "states/#",
        "qos": "1",
        "datatype": "json",
        "broker": "ed9398c7.6fb69",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "3faf5ddd.0de422"
            ]
        ]
    },
    {
        "id": "fda5789d.1a4808",
        "type": "subflow:5dd2920a.4fb334",
        "z": "44132dad.e34f2c",
        "name": "",
        "env": [],
        "x": 100,
        "y": 20,
        "wires": [
            [
                "f47a8c8b.b8689"
            ]
        ]
    },
    {
        "id": "f47a8c8b.b8689",
        "type": "switch",
        "z": "44132dad.e34f2c",
        "name": "Filter for Entity Id",
        "property": "entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ENTITY_ID",
                "vt": "env"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "a496ad13.1e8f78",
        "type": "subflow:44132dad.e34f2c",
        "z": "2f0bc039.a84f5",
        "name": "",
        "env": [
            {
                "name": "ENTITY_ID",
                "value": "ENTITY_ID",
                "type": "env"
            }
        ],
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b74eb8b3.ce552"
            ]
        ]
    },
    {
        "id": "f2a2db2a.4d973",
        "type": "function",
        "z": "2f0bc039.a84f5",
        "name": "Check Values",
        "func": "function validate(state, value, operator) {\n    if (operator === 'E') {\n        return value == state;\n    } else if (operator === 'NE') {\n        return value != state;\n    } else if (operator === 'LT') {\n        return state < value;\n    } else if (operator === 'LTE') {\n        return state <= value;\n    } else if (operator === 'GT') {\n        return state > value;\n    } else if (operator === 'GtE') {\n        return state >= value;\n    } else {\n        return false;\n    }\n};\n\nvar newValue = msg.new_value;\nvar oldValue = msg.old_value;\n\nvar fromValue = (env.get('FROM_VALUE') || '');\nvar fromOp = env.get('FROM_COMPARE');\n\nvar toValue = (env.get('TO_VALUE') || '');\nvar toOp = env.get('TO_COMPARE');\n\nif (fromValue.length === 0 && toValue.length === 0) {\n    msg.triggered = true;\n} else {\n    var fromChecked = true;\n    var toChecked = true;\n    if (fromValue.length !== 0) {\n        fromChecked = validate(oldValue, fromValue, fromOp);\n    }\n    if (toValue.length !== 0) {\n        toChecked = validate(newValue, toValue, toOp);\n    }\n    msg.triggered = fromChecked && toChecked;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2f6b1a6e.bd9cce"
            ]
        ]
    },
    {
        "id": "b74eb8b3.ce552",
        "type": "function",
        "z": "2f0bc039.a84f5",
        "name": "Get Value to Compare",
        "func": "if (env.get('PROPERTY') === 'state') {\n    msg.old_value = msg.payload.data.old_state.state;\n    msg.new_value = msg.payload.data.new_state.state;\n} else {\n    msg.old_value = msg.payload.data.old_state.attributes;\n    msg.new_value = msg.payload.data.new_state.attributes;\n    env.get('ATTRIBUTE')\n        .split('.')\n        .forEach(segment => {\n            msg.old_value = msg.old_value[segment];\n            msg.new_value = msg.new_value[segment];\n        });\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "f2a2db2a.4d973"
            ]
        ]
    },
    {
        "id": "2f6b1a6e.bd9cce",
        "type": "switch",
        "z": "2f0bc039.a84f5",
        "name": "Return Passed",
        "property": "triggered",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b8c57eb9.9c053",
        "type": "subflow:2f0bc039.a84f5",
        "z": "9dd99502.e077e8",
        "name": "",
        "env": [
            {
                "name": "ENTITY_ID",
                "value": "light.entry_light",
                "type": "str"
            },
            {
                "name": "PROPERTY",
                "value": "state",
                "type": "str"
            },
            {
                "name": "FROM_VALUE",
                "value": "on",
                "type": "str"
            },
            {
                "name": "TO_VALUE",
                "value": "off",
                "type": "str"
            }
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "122d392b.85cebf"
            ]
        ]
    },
    {
        "id": "d222cc60.fc639",
        "type": "mqtt out",
        "z": "80563eac.637d5",
        "name": "Invoke Service",
        "topic": "events/rules",
        "qos": "1",
        "retain": "false",
        "broker": "ed9398c7.6fb69",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "727d4857.949e78",
        "type": "switch",
        "z": "80563eac.637d5",
        "name": "Ensure Domain",
        "property": "domain",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "null"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 260,
        "y": 20,
        "wires": [
            [
                "73328b9f.f3c67c"
            ],
            [
                "6ff6d256.22e794"
            ],
            [
                "6ff6d256.22e794"
            ]
        ]
    },
    {
        "id": "6ff6d256.22e794",
        "type": "change",
        "z": "80563eac.637d5",
        "name": "ENV Domain",
        "rules": [
            {
                "t": "set",
                "p": "domain",
                "pt": "msg",
                "to": "DOMAIN",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 20,
        "wires": [
            [
                "73328b9f.f3c67c"
            ]
        ]
    },
    {
        "id": "d228f0b4.00f38",
        "type": "change",
        "z": "80563eac.637d5",
        "name": "ENV Service",
        "rules": [
            {
                "t": "set",
                "p": "service",
                "pt": "msg",
                "to": "SERVICE",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "58b1b0c7.7a95b8"
            ]
        ]
    },
    {
        "id": "73328b9f.f3c67c",
        "type": "switch",
        "z": "80563eac.637d5",
        "name": "Ensure Service",
        "property": "service",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 260,
        "y": 80,
        "wires": [
            [
                "58b1b0c7.7a95b8"
            ],
            [
                "d228f0b4.00f38"
            ],
            [
                "d228f0b4.00f38"
            ]
        ]
    },
    {
        "id": "58b1b0c7.7a95b8",
        "type": "switch",
        "z": "80563eac.637d5",
        "name": "Ensure Service",
        "property": "service_data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "8f84323a.a9c318"
            ],
            [
                "189b5a22.f38986"
            ],
            [
                "189b5a22.f38986"
            ]
        ]
    },
    {
        "id": "122d392b.85cebf",
        "type": "subflow:80563eac.637d5",
        "z": "9dd99502.e077e8",
        "name": "Turn on Living Room light",
        "env": [
            {
                "name": "DOMAIN",
                "value": "light",
                "type": "str"
            },
            {
                "name": "SERVICE",
                "value": "turn_on",
                "type": "str"
            },
            {
                "name": "SERVICE_DATA",
                "value": "{\"entity_id\":\"light.living_room_ceiling_lights\"}",
                "type": "json"
            }
        ],
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "189b5a22.f38986",
        "type": "change",
        "z": "80563eac.637d5",
        "name": "ENV Service Data",
        "rules": [
            {
                "t": "set",
                "p": "service_data",
                "pt": "msg",
                "to": "SERVICE_DATA",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "8f84323a.a9c318"
            ]
        ]
    },
    {
        "id": "8f84323a.a9c318",
        "type": "function",
        "z": "80563eac.637d5",
        "name": "",
        "func": "msg.payload = {\n    \"event_type\": \"call_service\",\n    \"data\": {\n        \"domain\": msg.domain,\n        \"service\": msg.service,\n        \"service_data\": msg.service_data\n    },\n    \"source\": \"node-red\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "d222cc60.fc639"
            ]
        ]
    },
    {
        "id": "86d9aa8e.b12e88",
        "type": "catch",
        "z": "80563eac.637d5",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 60,
        "y": 80,
        "wires": [
            [
                "727d4857.949e78"
            ]
        ]
    }
]